In [1]:
import pandas as pd

In [3]:
day1 = pd.read_csv("trades_round_4_day_1_wn.csv", sep = ';')
day2 = pd.read_csv("trades_round_4_day_2_wn.csv", sep = ';')
day3 = pd.read_csv("trades_round_4_day_3_wn.csv", sep = ';')

all_data = pd.concat([day1, day2, day3])
all_data

,timestamp,buyer,seller,symbol,currency,price,quantity
0,800,Valentina,Valentina,COCONUT_COUPON,SEASHELLS,636.0,5
1,900,Valentina,Vinnie,COCONUT_COUPON,SEASHELLS,634.0,17
2,1100,Valentina,Ruby,COCONUT_COUPON,SEASHELLS,635.0,17
3,1900,Valentina,Vinnie,COCONUT_COUPON,SEASHELLS,635.0,16
4,2000,Valentina,Vinnie,COCONUT_COUPON,SEASHELLS,637.0,14
...,...,...,...,...,...,...,...
1691,996200,Valentina,Vinnie,COCONUT_COUPON,SEASHELLS,585.0,14
1692,997100,Vinnie,Vinnie,COCONUT,SEASHELLS,9885.0,9
1693,997200,Vinnie,Vinnie,COCONUT,SEASHELLS,9883.0,8
1694,998600,Vinnie,Raj,COCONUT,SEASHELLS,9887.0,5
1695,999800,Valentina,Rhianna,COCONUT_COUPON,SEASHELLS,575.0,14

In [6]:
coconut_trades = all_data[all_data["symbol"] == "COCONUT"]
coup_trades = all_data[all_data["symbol"] == "COCONUT_COUPON"]

In [9]:
coup_trades.buyer.value_counts()

buyer
Valentina    2531
Ruby          380
Vladimir      214
Vinnie         25
Rhianna        10
Name: count, dtype: int64

In [10]:
coup_trades.seller.value_counts()

seller
Vinnie       1623
Valentina     671
Ruby          439
Rhianna       388
Vladimir       39
Name: count, dtype: int64